@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, f49a09d, 5f2c82);
    }

    sectionlogin {
        width: 90vw;

    }
    sectionlogin > divimagem {
        float: left;
        width: 30%;
        height: 100%;

    }
    sectionlogin divformulario {
        float: right;
        width: 70%;
    }
}
    @media screen  and (min-width: 992px) {
        sectionlogin {
            width: 992px;
        }
        sectionlogin > divimagem {
            float: left;
            width: 50%;
            height: 100%;
        }

        sectionlogin > divformulario {
            float: right;
            width: 50%;
        }
        
    }
